* {
    cursor: none !important;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #FF7B2490, #d3952290);
    color: #000000; /* Changed to black */
}

header {
    background-color: #AAAAAA;
    color: #000000; /* Changed to black */
    text-align: center;
}

header .logo {
    max-height: 50px;
}

section {
    margin-bottom: 2em;
    background: #50505088;
    padding: 1em;
    border-radius: 8px;
    color: #000000; /* Changed to black */
}

a {
    color: #FF7711;
}

a:hover {
    color: #FFCC00;
}

.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d3952290;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF7B2490;
}